// Core variables and mixins
@import "../libs/bootstrap/less/_variables.less";
@import "../libs/bootstrap/less/_mixins.less";

// Reset and dependencies
@import "../libs/bootstrap/less/_normalize.less";
@import "../libs/bootstrap/less/_print.less";

// Core CSS
@import "../libs/bootstrap/less/_scaffolding.less";
@import "../libs/bootstrap/less/_type.less";
@import "../libs/bootstrap/less/_grid.less";
@import "../libs/bootstrap/less/_tables.less";
@import "../libs/bootstrap/less/_forms.less";
@import "../libs/bootstrap/less/_buttons.less";
@import "../libs/bootstrap/less/_input-groups.less";

// Components
@import "../libs/bootstrap/less/_component-animations.less";
@import "../libs/bootstrap/less/_labels.less";

// Utility classes
@import "../libs/bootstrap/less/_utilities.less";
@import "../libs/bootstrap/less/_responsive-utilities.less";

// Theme Base
@import '_variables.less';
@import '_base.less';
@import '_shims.less';

// Components
@import '_attribution.less';
@import '_buttons.less';
@import '_icons.less';
@import '_input-groups.less';
@import '_panel.less';
@import '_referrals.less';
@import '_share.less';
@import '_stats.less';

// Atomic Classes
@import '_atomic.less';

// Theme Modes
@import 'modes/_embed.less';
@import 'modes/_popup.less';
@import 'modes/_hosted.less';


// Custom Theme

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhv.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhv.woff) format('woff');
}



.squatch-inner-container {
  background-color: #2754a4;
  background-image: linear-gradient(30deg,#2754a4 70%,#7953c8);
  padding-top: 125px;
}

.squatch-body {
  background: #fff;
  margin: 20px;
  padding: 20px 16px 20px;
}

.squatch-fdo-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 0px;
  max-width: 214px;
  width: 100%;
  top: 5px;
}

.squatch-present {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 177px;
  left: 19px;
  margin-top: -177px;
}

.squatch-title {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600!important;
  @media (max-width: @screen-sm-max) {
    padding: 10px 0 0!important;
  }
}

.squatch-lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.squatch-cta {
  margin: 30px 0 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #2754a4;
}

.squatch-share-btn {
  width: 136px;
}

.input-group .form-control:first-child {
  border-radius: 0;
}

.input-group-btn:last-child>.btn {
  width: 136px;
  height: 34px;
  @media (max-width: 499px) {
    width: auto!important;
  }
}

.btn-primary, .btn-email, .btn-twitter, .btn-facebook, #squatch-send-email {
  height: 35px;
  background-color: #ff8a00!important;
  border-color: #ff8a00!important;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    background-color: darken(#ff8a00, 20%);
    border: darken(#ff8a00, 20%);
  }
}

#squatch-panel {
  border-top: none;
}

.squatch-panel-title {
  color: #fff;
  font-size: 22px;
}

.text-green, .text-yellow {
  color: #fff!important;
}

.squatch-stats {
  font-weight: 700;
}

.squatch-referrals {
  color: #ddd;
}

.squatch-referrals-actions .btn {
  width: auto;
  padding: 0;
  border-radius: 0;
}

.squatch-next-arrow {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.squatch-next-arrow, .squatch-prev-arrow {
  height: 23px;
  padding: 3px 10px;
}

.squatch-attribution {
  font-size: 11px;
}

body .squatch-container {
  background: transparent;
}

.squatch-container-popup {
  height: 1047px!important;
}

.squatch-container-popup #squatch-panel {
  background: transparent;
}

.squatch-actions {
  background: transparent;
}

.icon-mail {
  position: relative;
  bottom: 2px;
}

.squatch-register {
  color: #fff;
  border-top: none;
}

.squatch-lead {
  border-top: none;
  @media (max-width: @screen-sm-max) {
    padding: 0 @body-padding-sm 0!important;
  }
}



.squatch-referrals-title {
  @media (max-width: 499px) {
    background: none!important;
  }
}

.squatch-stats-item {
  @media (max-width: 499px) {
    background: none!important;
    border: none!important;
  }
}

.squatch-header-close {
  color: #fff!important;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  top: 65px!important;
}